<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>

    <link rel="stylesheet" href="/css/productId.css" />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <%- include('components/nav') %>
    <div class="container">
      <div class="image">
        <img src="<%= f.image %>" />
      </div>
      <div class="details">
        <div class="box1">
          <p class="price">L.E <%= f.price %></p>
          <h2><%= f.name %></h2>
          <p><%= f.description %></p>
        </div>
        <div class="box2">
          <button>اضف الي عربة التسوق <i class="bx bx-cart-add"></i></button>
          <button><i class="bx bxs-heart"></i></button>
        </div>
      </div>
    </div>
    <%- include('components/footer') %>
    <script src="/dist/product.js"></script>
  </body>
</html>
